$background: #161616;
$primary: #f4f4f4;
$secondary: #000;
$tertiary: #199fff;

@import "reset";

button {
	padding: 0.6rem 1rem 0.6rem 1rem;
	background-color: $tertiary;
	border-radius: 0.4rem;
	cursor: pointer;
	font-weight: bold;
	transition: all 0.2s;
	font-size: 1rem;

	&:hover {
		background-color: rgba($color: $tertiary, $alpha: 0.9);
	}

	&:active {
		background-color: rgba($color: $tertiary, $alpha: 0.8);
	}
}

#app {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	background-color: $background;
	width: 100vw;
}

// add grid as background
#background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(rgba(255, 255, 255, 0.02) 1px, transparent 1px),
		linear-gradient(90deg, rgba(255, 255, 255, 0.02) 1px, transparent 1px);
	background-size: 5vw 5vw;
	z-index: 0;

	// adds vignette to page
	&::before {
		content: "";
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: radial-gradient(ellipse at center, transparent 80%, rgba(0, 0, 0, 0.2)),
			radial-gradient(ellipse at center, transparent 90%, rgba(10, 10, 10, 0.4));
		pointer-events: none;
	}

	@media only screen and (min-width: 768px) {
		background-size: 3vw 3vw;
	}

	@media only screen and (min-width: 1200px) {
		background-size: 2vw 2vw;
	}
}

header {
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	z-index: 1;
	z-index: 10;

	&::before {
		content: "";
		position: absolute;
		background-color: $background;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		box-shadow: 0 10px 20px rgba($color: $background, $alpha: 0.8);
	}
}

main {
	z-index: 1;
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5rem;
	width: 100%;
	max-width: 1280px;
	padding: 1rem 1rem 0 1rem;

	.btn-selections {
		margin-top: 1rem;
		display: flex;
		width: 100%;
		gap: 1rem;
		justify-content: space-between;
		align-items: center;

		.algorithms {
			display: flex;
			gap: 1rem;

			#select-algorithm {
				display: flex;
				align-items: center;
				justify-content: space-between;
				gap: 1rem;
				border-radius: 0.4rem;
				cursor: pointer;
				font-weight: bold;
				background-color: $primary;
				padding: 0.6rem 1rem 0.6rem 1rem;

				&:hover {
					background-color: rgba($color: $primary, $alpha: 0.9);
				}

				&:active {
					background-color: rgba($color: $primary, $alpha: 0.8);
				}

				p {
					color: $secondary;
				}

				// down arrow
				span {
					display: flex;
					align-items: center;

					svg {
						width: 1rem;
					}
				}
			}

			.algorithm-options {
				color: $secondary;
				display: flex;
				flex-direction: column;
				position: absolute;
				top: 3rem;
				left: 0;
				background-color: $primary;
				border-radius: 0.4rem;
				white-space: nowrap;
				overflow: hidden;
				transition: all 0.2s ease;
				visibility: hidden;
				transform: translateY(-10px);
				opacity: 0;

				.option {
					color: $secondary;
					cursor: pointer;
					font-weight: bold;
					padding: 0.4rem 1rem 0.4rem 1rem;
					transition: all 0.1s;
					overflow: hidden;

					&:hover {
						background-color: $tertiary;
						color: $primary;
					}
				}
			}

			.algorithm-options.show {
				visibility: visible;
				opacity: 1;
				transform: translateY(0);
			}

			.speaker-btn {
				cursor: pointer;
				width: 2rem;
			}

			.speaker-btn.hidden {
				display: none;
			}
		}

		.customization-btns {
			display: flex;
			justify-content: flex-end;
			gap: 1rem;
			width: 50%;

			// select the slider containers
			div {
				flex: 1;

				// select the slider inputs
				input {
					width: 100%;
					margin-top: 0.3rem;
				}
			}
		}
	}

	#bar-container {
		margin-top: auto;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		width: 100%;
		height: 80%;

		.bar {
			background: linear-gradient(0deg, rgba(22, 22, 22, 1) 5%, rgba(210, 210, 210, 1) 100%);
		}
	}
}
